extends layout

block content
  div.ui.container(style="padding-top:20px;")
    if errors
      div.ui.red.message
        i.close.icon
        div.header(style="padding-bottom:5px;") Following Errors Occured During Form Submission
        each error, i in errors
            p #{error.msg}
    form.ui.form(method='POST',action="/posts/add",enctype='multipart/form-data')
      .ui.field
        .three.fields
          .field
           label Title
           input(type="text",name='title' value=Title)
          .field
           label  Category
           input(type="text",name='category' value=category)
          .field
           label Author
           input(type="text",name='author',value=author)
        .field
         label Description
         input(type='text',name='description',value=description)
        .field
          label Body
          textarea(rows="30",name='body',id='body')
        .field
          label Select Image For Post
          input(type='file',name='postimage')
        button.ui.submit.button(style="margin-bottom:20px;") Submit Post

  script(src='/ckeditor/ckeditor.js')
  script(type='text/javascript')
    | CKEDITOR.replace('body')
